* {
	font-family: 'Montserrat', sans-serif;
}
.bg-light {
	background-color: transparent !important;
}
.carousel-item {
	height: 100vh;
	min-height: 30vh;
}
.carousel-caption {
	bottom: 27vh;
}
.carousel-caption h5 {
	font-size: 8vh;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top : 3%;
}
.carousel-caption p {
	width: 60%;
	font-size: 3vh;
	margin: auto;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	color: white;
	border: 1px solid white;
	max-height: 8vh;
	min-width : 15vw;
	margin-top: 5%;
	border-radius: 10px;
}
.navbar-nav a {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		bottom: 32vh;
	}
	.carousel-caption h5 {
		font-size: medium;
		margin-bottom: 10%;
	}
	.carousel-caption a {
		font-size: large;
		margin-top: 1%;
		padding: 2%;
		margin-bottom: 15%;
	}
	.carousel-caption .loading{
		font-size: xx-small;
		width: 8vw;
		height: 8vw;
		padding-top: 2%;
	}
}


.google-loader span {
  display: inline-block;
  margin-top: 4%;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px solid white;
  padding: 2%;
  padding-bottom: 5%;
}
.google-loader span:not(:first-child) {
  margin-left: 10px;
}
.google-loader span:nth-child(1) {
  animation: move 1s ease-in-out -0.25s infinite alternate;
}
.google-loader span:nth-child(2) {
  animation: move 1s ease-in-out -0.5s infinite alternate;
}
.google-loader span:nth-child(3) {
  animation: move 1s ease-in-out -0.75s infinite alternate;
}
.google-loader span:nth-child(4) {
  animation: move 1s ease-in-out -1s infinite alternate;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(5px);
  }
}

span:first-child {
  color: #4285f4;
}
span:nth-child(2) {
  color: #db4437;
}
span:nth-child(3) {
  color: #f4b400;
}
span:nth-child(4) {
  color: #4285f4;
}
span:nth-child(5) {
  color: #0f9d58;
}
span:last-child {
  color: #db4437;
  transform: rotate(-20deg);
  display: inline-block;
}

.google-loader span {
  color: white;
  text-align: center;
  padding: 0.5%;
  padding-bottom: 2%;
}

#logo{
	max-width: 20vmax;
	margin-left: -20%;
}
